.action {
  height: auto;
}

.title {
  font-size: large;
  border: none;
  background-color: transparent;
  font-weight: bold;
  display: inline-block;
  color: white;
  line-height: inherit;
  white-space: nowrap;
}

@media (max-width: 776px) {
  .action button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:5px;
  margin-right: 5px;
  font-size: 12px;
  }
}


.action button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:5px;
  margin-right: 5px;
}

.grid-container {
  margin: 5% auto;
  font-size: 0px;
}

.grid {
  white-space: pre;
}
