.nav-bar {
  height: auto;
}

/* test */

.nav-bar button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:5px;
  margin-right: 5px;
}

.grid-container {
  margin: 5% auto;
  font-size: 0px;
}

.grid {
  white-space: pre;
}
